<html>

<head>
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Oswald|Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <section>
        <div class="container" style="margin-bottom: 30px;">
            <h1 style="text-align: center; padding-top: 40px; padding-bottom: 40px;"
                class="animated zoomIn  infinite font-poppins">Menu</h1>
            <div class="row">
                <div class="col-md-4 col-lg-4 ">
                    <div class="card text-center" style="height: auto;">
                        <div class="card-header">
                            <h4 class="font-poppins">Salads</h4>
                        </div>
                        <img src=" ../../../assets/salads/salad-menu.jpg" style="height: 400px;" class="img-fluid">
                        <div class="card-body">
                            <p class="card-text font-poppins">The most delicious salads!!!!</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" [routerLink]="['/salads']"
                                routerLinkActive="router-link-active" id="salads">
                                Check more
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h4 class="font-poppins">Pizzas</h4>
                        </div>
                        <img src=" ../../../assets/pic/43.jpg" style="height: 400px;" class="img-fluid">
                        <div class="card-body">
                            <p class="card-text font-poppins">The most delicious pizzas!!!!</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" [routerLink]="['/famous-pizza']"
                                routerLinkActive="router-link-active" id="famousPizza">
                                Check more
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                            <h4 class="font-poppins">Desserts</h4>
                        </div>
                        <img src=" ../../../assets/desserts/dessert-menu.jpg" style="height: 400px;" class="img-fluid">
                        <div class="card-body">
                            <p class="card-text font-poppins">The most delicious desserts!!!!</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" [routerLink]="['/desserts']"
                                routerLinkActive="router-link-active" id="desserts">
                                Check more
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer id="s5">
        <div class="pulsate">
            <h1 style="text-align: center; padding-top: 100px;" class="display-2">slice to meet you</h1>
        </div>
    </footer>

</body>

</html>