body {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/994/53/319/gray-background-texture-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}