<div class="card mat-card">
  <div class="card-header ">
    <h4 class="text-center">
      {{pageTitle}}
    </h4>
  </div>
  <div class="card-body">
    <div class="bgimg">
      <div class="middle">
        <h1>COMING SOON</h1>
        <hr>
        <div id="countdown"> </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="text-center">Developed by:</div>
    <div class="text-center">
      <h3>Kristiyan Kostadinov</h3>
    </div>
    <div class="text-center">
      <a href="http://github.com/KristiyanKostadinov">github.com/KristiyanKostadinov</a>
    </div>
  </div>
</div>