<html>

<body class="text-center bg">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="container">
            <div class="flags">
                <div class="language-selector">
                    <img src="../../../../assets/flags/en.png" alt="{{'English'| translate}}" id="englishFlag"
                        (click)="setEN()">
                    <img src="../../../../assets/flags/bg.png" alt="{{'Bulgarian'| translate}}" id="bulgarianFlag"
                        (click)="setBG()">
                    <img src="../../../../assets/flags/de.png" alt="{{'German'| translate}}" id="germanFlag"
                        (click)="setDE()">
                </div>
            </div>
            <div>
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-3">
                        <img class="mb-5" src="../../../assets/logo/kpuc.png" alt="Logo" width="300" height="250">
                        <p class="white">
                            <span class="font-poppins"> {{'Kpuc`s Pizzeria' | translate}} </span>{{'is a beloved
                            pizzeria
                            in Bulgaria. It was founded by the Kris`s family in 1995 and has been serving delicious
                            pizza to the local community ever since. The family has a long history in the restaurant
                            business, and they brought their passion for food and their love of pizza to their pizzeria.
                            They spent years perfecting their recipes, experimenting with different ingredients, and
                            perfecting their dough to create the perfect pizza.' | translate}}
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0 ">
                        <h1 class=" ls-tight white">
                            {{'The Best Pizzeria' | translate}} <br />
                            <span class="font-poppins">{{'in town' | translate}}</span>
                        </h1>
                        <div class="card bgCard">
                            <div class="card-body py-5 px-md-5">
                                <form [formGroup]="forgotPassForm" (ngSubmit)="forgot()" *ngIf="first_forgot">
                                    <div class="mb-4">
                                        <h3 class="font-poppins">{{'Forgot Password' | translate}}</h3>
                                        <p class="white">
                                            {{'Please enter the email address you`d like your password reset information
                                            sent to' | translate}}!</p>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="email" id="email" class="form-control"
                                            placeholder="{{'Email' | translate}}" formControlName="email">
                                        <div *ngIf="emailCheck" class="text-danger">
                                            <span>{{'Email does not exist.' | translate}}</span>
                                        </div>
                                        <div *ngIf="forgotPassForm.get('email')?.touched && forgotPassForm.get('email')?.invalid"
                                            class="text-danger">
                                            <span *ngIf="forgotPassForm.get('email')?.errors?.required">{{'Email is
                                                required.' | translate}}</span>
                                            <span *ngIf="forgotPassForm.get('email')?.errors?.pattern">{{'Please enter a
                                                valid
                                                email
                                                address.' | translate}}</span>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-dark btn-block"
                                        [disabled]="forgotPassForm.invalid ">
                                        {{'Confirm' | translate}}
                                    </button>
                                    <div class="text-center mt-3">
                                        <p>
                                            <a [routerLink]="['/login']" routerLinkActive="router-link-active"><b>
                                                    {{'Back To Login' | translate}} </b> </a>
                                        </p>
                                    </div>
                                </form>
                                <form [formGroup]="codeForm" (ngSubmit)="verifyResetCode()" *ngIf="second_forgot">
                                    <div class="mb-4">
                                        <h3 class="font-poppins">{{'Forgot Password' | translate}}</h3>
                                        <p class="white">
                                            {{'Please enter the code that you received in your email!' | translate}}!
                                        </p>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" id="code" class="form-control"
                                            placeholder="{{'Code' | translate}}" formControlName="code">
                                        <div *ngIf="invalidCode" class="text-danger">
                                            <span>{{'The code is not correct.' | translate}}</span>
                                        </div>
                                        <div *ngIf="codeForm.get('code')?.touched && codeForm.get('code')?.invalid"
                                            class="text-danger">
                                            <span *ngIf="codeForm.get('code')?.errors?.required">{{'Code is
                                                required.' | translate}}</span>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-dark btn-block" [disabled]="codeForm.invalid ">
                                        {{'Confirm' | translate}}
                                    </button>
                                    <div class="text-center mt-3">
                                        <p>
                                            <a [routerLink]="['/login']" routerLinkActive="router-link-active"><b>
                                                    {{'Back To Login' | translate}} </b> </a>
                                        </p>
                                    </div>
                                </form>
                                <form [formGroup]="changePassForm" (ngSubmit)="changePass()"
                                    *ngIf="third_forgot_change">
                                    <div class="mb-4">
                                        <h3 class="font-poppins">{{'Change Password' | translate}}</h3>
                                        <!-- <p class="white">
                                            {{'Please change your password' | translate}}!</p> -->
                                    </div>
                                    <div class="form-outline mb-4">
                                        <div class="input-group">
                                            <input [type]="fieldTextType_2 ? 'text' : 'password'" id="newPass"
                                                class="form-control" placeholder="{{'New Password' | translate}}"
                                                formControlName="newPass" #passwordInput>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa" [ngClass]="{
                                                        'fa-eye-slash': !fieldTextType_2,
                                                        'fa-eye': fieldTextType_2
                                                      }" (click)="toggleFieldTextType_2()"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div *ngIf="changePassForm.get('newPass')?.touched && changePassForm.get('newPass')?.invalid"
                                            class="text-danger">
                                            <span *ngIf="changePassForm.get('newPass')?.errors?.required">{{'Password is
                                                required.' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <div class="input-group">
                                            <input [type]="fieldTextType ? 'text' : 'password'" id="repeatNewPass"
                                                class="form-control" placeholder="{{'Repeat Password' | translate}}"
                                                formControlName="repeatNewPass" #repeatPasswordInput required>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa" [ngClass]="{
                                                        'fa-eye-slash': !fieldTextType,
                                                        'fa-eye': fieldTextType
                                                      }" (click)="toggleFieldTextType()"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="text-danger">
                                            <span
                                                *ngIf="passwordInput.value !== repeatPasswordInput.value && !changePassForm.get('repeatNewPass')?.errors?.required">
                                                {{'Passwords should be identical.' | translate}}</span>
                                        </div>
                                        <div class="text-danger"
                                            *ngIf="changePassForm.get('repeatNewPass')?.touched && changePassForm.get('repeatNewPass')?.invalid">
                                            <span *ngIf="changePassForm.get('repeatNewPass')?.errors?.required">
                                                {{'Repeat Password is required.' | translate}}</span>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-dark btn-block"
                                        onclick="success_change_of_pass()"
                                        [disabled]="changePassForm.invalid || passwordInput.value !== repeatPasswordInput.value">
                                        {{'Confirm' | translate}}
                                    </button>
                                    <div class="text-center mt-3">
                                        <p>
                                            <a [routerLink]="['/login']" routerLinkActive="router-link-active"><b>
                                                    {{'Back To Login' | translate}} </b> </a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>