<html>
<header>
  <div *ngIf="typeOfLogin === 'anonymous'">
    <app-header></app-header>
  </div>
  <div *ngIf="typeOfLogin === 'customer'">
    <app-customer-header></app-customer-header>
  </div>
  <div *ngIf="typeOfLogin === 'employee'">
    <app-employee-header></app-employee-header>
  </div>
  <div *ngIf="typeOfLogin === 'admin'">
    <app-admin-header></app-admin-header>
  </div>
</header>

<body class="topMargin">
  <div class="header">
    <div class="container">
      <div class="text-center">
        <h1 style="text-align: center; padding-top: 40px; padding-bottom: 40px;" class="font-poppins"> {{'Reserve a
          table' | translate}}
        </h1>
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div>
              <div class="card-body">
                <div>
                  <h2 class="card-title fontP mb-5">{{'Through Phone' | translate}}</h2>
                </div>
                <h5 class="fontPhone">
                  {{'We accept reservations for lunch and dinner.' | translate}}
                  <br>
                  <br>
                </h5>
                <h5 class="fontPhone">
                  {{'To make a reservation in Levski, call us on' | translate}} <br> <b class="font-poppins"
                    href="#">+359 866 12 338</b>
                  {{'from 09:00 to 23:00
                  throughout
                  the
                  week.' | translate}}
                  <br>
                  <br>
                </h5>
                <h5 class="fontPhone">
                  {{'For a reservation in Vazrazhdane, call us on' | translate}} <br> <b class="font-poppins">+359 886
                    52 355</b> {{'from
                  09:00
                  to 23:00
                  throughout
                  the
                  week.' | translate}}
                  <br>
                  <br>
                </h5>
                <h5 class="fontPhone">
                  {{'When booking through our website, expect a call from our employee to confirm the
                  reservation.' | translate}}
                </h5>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mb-4">
            <div>
              <div class="card-body">
                <div>
                  <h2 class="card-title fontP">{{'Through Form' | translate}}</h2>
                </div>
                <div class="card-text form-body text-center">
                  <div class="row">
                    <div class="form-holder">
                      <div class="form-content">
                        <div class="form-items">
                          <form #resForm="ngForm" [formGroup]="form">
                            <!-- <div class="col-md-12">
                              <input matInput class="form-control" type="date" name="date" id="date" placeholder="Date"
                                formControlName="date">
                              <span class="invalidField" *ngIf="date.touched && date.invalid">Please enter the desired
                                date!</span>
                            </div> -->
                            <div class="col-md-12">
                              <input class="form-control" type="date" name="date" id="date"
                                placeholder="{{'Date' | translate}}" formControlName="date">
                              <span class="invalidField" *ngIf="date.touched && date.invalid">{{'Please enter the
                                desired
                                date'| translate}}!</span>
                            </div>
                            <div class="col-md-12 mt-3">
                              <ngx-timepicker-field class="form-control" formControlName="time" name="time" id="time"
                                [format]="24" min="12:00" max="23:00">
                              </ngx-timepicker-field>
                              <span class="invalidField" *ngIf="time.touched && time.invalid">{{'Please enter the
                                desired
                                time'| translate}}!</span>

                              <!--                            <input type="time" class="form-control" formControlName="time" name="time"-->
                              <!--                                   id="time">-->
                            </div>
                            <!-- <div>
                              <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker">
                                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div> -->
                            <div class="col-md-12">
                              <select class="form-control mt-3" formControlName="numberPeople" name="numberPeople"
                                id="numberPeople">
                                <option value="" disabled class="font-sizeSelect">{{'Select number of people' |
                                  translate}}</option>
                                <option class="fontSelect" *ngFor="let number of people" [ngValue]="number">{{number }}
                                </option>
                              </select>
                              <span class="invalidField" *ngIf="numberPeople.touched && numberPeople.invalid">{{'Please
                                enter the
                                number of people'| translate}}!</span>
                            </div>
                            <!-- <div class="col-md-12">
                              <input type="text" (click)="tableDialog()" placeholder="Select Table">
                            </div> -->

                            <div class="col-md-12">
                              <select class="form-control" formControlName="neighborhood" name="neighborhood"
                                id="neighborhood">
                                <option value="" disabled class="font-sizeSelect">{{'Select neighborhood' | translate}}
                                </option>
                                <option class="fontSelect" *ngFor="let district of districts" [ngValue]="district">
                                  {{district | translate}}</option>
                              </select>
                              <span class="invalidField" *ngIf="neighborhood.touched && neighborhood.invalid">{{'Please
                                enter the
                                desired
                                neighborhood'| translate}}!</span>

                            </div>
                            <div class="col-md-12">
                              <input class="form-control" type="text" name="name" id="name"
                                placeholder="{{'Full Name' | translate}}" formControlName="name">
                              <span class="invalidField" *ngIf="name.touched && name.invalid">{{'Please enter your
                                name' | translate}}!</span>
                            </div>
                            <div class="col-md-12">
                              <input class="form-control" type="email" name="email" formControlName="email" id="email"
                                placeholder="{{'E-mail Address' | translate}}">
                              <span class="invalidField" *ngIf="email.touched && email.invalid">{{'Please enter your
                                email' | translate}}!</span>
                            </div>
                            <div class="col-md-12 mt-3">
                              <input class="form-control" type="tel" name="phone" id="phone" formControlName="phone"
                                placeholder="{{'Phone Number' | translate}}">
                              <span class="invalidField" *ngIf="phone.touched && phone.invalid">{{'Please enter your
                                phone number' | translate}}!</span>
                            </div>
                            <div class="col-md-12 mt-3">
                              <textarea class="form-control" placeholder="{{'Additional information'| translate}}"
                                rows="4" cols="50" name="comment" id="comment" formControlName="comment"></textarea>
                            </div>

                            <div class="col-md-12 mt-2">
                              <div class="form-check ">
                                <input class="form-check-input" type="checkbox" name="agree" id="agree"
                                  formControlName="agree" #trueData>
                                <label class="form-check-label fontGender ">{{'I confirm
                                  that
                                  all data
                                  is
                                  correct' | translate}}</label>
                              </div>
                              <span class="invalidField" *ngIf="!trueData.checked && agree.touched">{{'Please confirm
                                that
                                the
                                entered data is correct' | translate}}!</span>
                              <div class="form-button mt-3 text-center">
                                <button id="submit" type="submit" class="btn btn-dark"
                                  [disabled]="resForm.invalid || !trueData.checked"
                                  (click)="reserve(resForm.value); openDialog()">
                                  {{'Reserve' | translate}}
                                </button>
                              </div>
                            </div>
                            <div class="scrolltop float-right">
                              <i class="fa fa-arrow-up" onclick="topFunction()" id="mybtn"></i>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>

</footer>

</html>