body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('https://mcdn.wallpapersafari.com/medium/27/53/Q3IUrZ.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.text-center {
    text-align: center;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-label {
    width: 120px;
    margin-right: 10px;
    text-align: right;
}

.custom-input {
    flex: 1;
    padding: 5px;
    width: 100%;
}

.invalid-text {
    color: red;
}

.btn-group {
    margin-top: 10px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .form-row {
        flex-direction: column;
    }

    .input-label {
        width: 100%;
        margin-right: 0;
        text-align: left;
        margin-bottom: 5px;
    }
}

.input-wrapper {
    flex: 1;
    width: 100%;
}

.custom-input-date {
    width: 100%;
    padding: 5px;
}