<html>

<head></head>
<header>
    <div *ngIf="typeOfLogin === 'anonymous'">
        <app-header></app-header>
    </div>
    <div *ngIf="typeOfLogin === 'customer'">
        <app-customer-header></app-customer-header>
    </div>
    <div *ngIf="typeOfLogin === 'employee'">
        <app-employee-header></app-employee-header>
    </div>
    <div *ngIf="typeOfLogin === 'admin'">
        <app-admin-header></app-admin-header>
    </div>
</header>

<body class="topMargin">
    <div class="container">
        <h1 style="text-align: center; padding-top: 40px; padding-bottom: 40px;"
            class="animated zoomIn  infinite font-poppins">{{"Add Employee" | translate}}</h1>
        <form [formGroup]="employeeForm" class="center" enctype="multipart/form-data">
            <div class="form-group">
                <label for="position">{{"Position" | translate}}</label>
                <select class="form-control" id="position" name="position" formControlName="position">
                    <option value="manager">{{"Manager" | translate}}</option>
                    <option value="delivery driver">{{"Delivery Driver" | translate}}</option>
                    <option value="cook">{{"Cook" | translate}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="username">{{"Username" | translate}}</label>
                <input type="text" class="form-control" id="username" name="username" formControlName="username">
                <div
                    *ngIf="employeeForm.get('username')!.invalid && (employeeForm.get('username')!.dirty || employeeForm.get('username')!.touched)">
                    <div *ngIf="employeeForm.get('username')!.errors?.required" class="text-danger">{{"Username is
                        required." |
                        translate}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="name">{{"Name" | translate}}</label>
                <input type="text" class="form-control" id="name" name="name" formControlName="name">
                <div
                    *ngIf="employeeForm.get('name')!.invalid && (employeeForm.get('name')!.dirty || employeeForm.get('name')!.touched)">
                    <div *ngIf="employeeForm.get('name')!.errors?.required" class="text-danger">{{"Name is
                        required." |
                        translate}}</div>
                </div>
            </div>
            <div class="form-group">
                <label>{{"Gender" | translate}}</label>
                <div class="d-flex">
                    <div class="form-check mr-3">
                        <input class="form-check-input" type="radio" id="male" name="gender" value="male"
                            formControlName="gender">
                        <label class="form-check-label" for="male">
                            {{ "Male" | translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="female" name="gender" value="female"
                            formControlName="gender">
                        <label class="form-check-label" for="female">
                            {{ "Female" | translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">{{"Email" | translate}}</label>
                <input type="email" class="form-control" id="email" name="email" formControlName="email">
                <div
                    *ngIf="employeeForm.get('email')!.invalid && (employeeForm.get('email')!.dirty || employeeForm.get('email')!.touched)">
                    <div *ngIf="employeeForm.get('email')!.errors?.required" class="text-danger">{{"Email is
                        required." |
                        translate}}</div>
                </div>
            </div>
            <div class="form-outline mb-4">
                <label for="password">{{"Password" | translate}}</label>
                <input type="password" id="password" class="form-control" formControlName="password" #passwordInput>
                <div *ngIf="employeeForm.get('password')?.touched && employeeForm.get('password')?.invalid"
                    class="text-danger">
                    <span *ngIf="employeeForm.get('password')?.errors?.required">{{"Password is
                        required." | translate}}</span>
                </div>
            </div>

            <div class="form-outline mb-4">
                <label for="password">{{"Repeat Password" | translate}}</label>
                <input type="password" id="repeatPassword" class="form-control" formControlName="repeatPassword"
                    #repeatPasswordInput required>
                <div class="text-danger">
                    <span
                        *ngIf="passwordInput!.value !== repeatPasswordInput!.value && !employeeForm.get('repeatPassword')?.errors?.required">
                        {{"Passwords should be identical." | translate}}</span>
                </div>
                <div class="text-danger"
                    *ngIf="employeeForm.get('repeatPassword')?.touched && employeeForm.get('repeatPassword')?.invalid">
                    <span *ngIf="employeeForm.get('repeatPassword')?.errors?.required">
                        {{"Repeat Password is required." | translate}}</span>
                </div>
            </div>
            <div class="text-center">
                <button *ngIf="employeeForm.get('position')!.value === 'manager'" type="submit" class="btn btn-primary"
                    (click)="addManager(employeeForm.value)" onclick="success_create()">{{"Add Manager" |
                    translate}}</button>

                <button *ngIf="employeeForm.get('position')!.value === 'delivery driver'" type="submit"
                    class="btn btn-primary" (click)="addDeliveryDriver(employeeForm.value)"
                    onclick="success_create()">{{"Add Delivery Driver" |
                    translate}}</button>

                <button *ngIf="employeeForm.get('position')!.value === 'cook'" type="submit" class="btn btn-primary"
                    (click)="addCook(employeeForm.value)" onclick="success_create()">{{"Add Cook" | translate}}</button>

            </div>
        </form>
    </div>
</body>
<footer>

</footer>

</html>