body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('https://mcdn.wallpapersafari.com/medium/27/53/Q3IUrZ.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 20px;
}

