<html>

<body>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark bb" id="xy">
                <div>
                        <a [routerLink]="['/employee']" routerLinkActive="router-link-active"><img
                                        src="../../../assets/logo/kpuc.png" alt="Pizza Logo" class="ml-lg-5 mb-1"
                                        width="120" height="auto"></a>
                </div>
                <!-- <div *ngIf="typeOfLogin ==='customer'">
                        <a [routerLink]="['/customer']" routerLinkActive="router-link-active"><img
                                        src="../../../assets/logo/kpuc.png" alt="Pizza Logo" class="ml-lg-5 mb-1"
                                        width="120" height="auto"></a>
                </div>
                <div *ngIf="typeOfLogin ==='employee'">
                        <a [routerLink]="['/employee']" routerLinkActive="router-link-active"><img
                                        src="../../../assets/logo/kpuc.png" alt="Pizza Logo" class="ml-lg-5 mb-1"
                                        width="120" height="auto"></a>
                </div>
                <div *ngIf="typeOfLogin ==='anonymous'">
                        <a [routerLink]="['/admin']" routerLinkActive="router-link-active"><img
                                        src="../../../assets/logo/kpuc.png" alt="Pizza Logo" class="ml-lg-5 mb-1"
                                        width="120" height="auto"></a>
                </div> -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
                        <ul class="navbar-nav ml-auto">
                                <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/add-product']"
                                                routerLinkActive="router-link-active" id="addProduct"
                                                title="{{'Add Product' | translate}}">{{'Add Product' | translate}}</a>
                                </li> -->
                                <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/orders']"
                                                routerLinkActive="router-link-active" id="orders"
                                                title="{{'All Orders' | translate}}">{{'All Orders' | translate}}</a>
                                </li> -->
                                <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/reservations']"
                                                routerLinkActive="router-link-active" id="orders"
                                                title="{{'All Reservations' | translate}}">{{'All Reservations' |
                                                translate}}</a>
                                </li> -->
                                <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/users']"
                                                routerLinkActive="router-link-active" id="users"
                                                title="{{'Customers' | translate}}">{{'Customers' |
                                                translate}}</a>
                                </li> -->
                                <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/rates']"
                                                routerLinkActive="router-link-active" id="rates"
                                                title="{{'All Rates' | translate}}">{{'All Rates' | translate}}</a></li> -->
                                <li class="nav-item" *ngIf="position !== 'cook' && position !=='delivery driver'">
                                        <a class="nav-link dropdown-toggle" title="{{'Employee' | translate}}"
                                                id="admin" (click)="setAdminSelection()">
                                                {{'Employee' |
                                                translate}}
                                        </a>
                                        <ul class="adminDropdown" *ngIf="admin">
                                                <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/add-product']"
                                                                routerLinkActive="router-link-active" id="addProduct"
                                                                title="{{'Add Product' | translate}}">{{'Add Product' |
                                                                translate}}</a>
                                                </li> -->
                                                <li class="nav-item"><a class="nav-link" [routerLink]="['/rates']"
                                                                routerLinkActive="router-link-active" id="rates"
                                                                title="{{'All Rates' | translate}}">{{'All
                                                                Rates' |
                                                                translate}}</a></li>
                                                <li class="nav-item"><a class="nav-link" [routerLink]="['/employees']"
                                                                routerLinkActive="router-link-active" id="employees"
                                                                title="{{'Employees' | translate}}">{{'Employees' |
                                                                translate}}</a>
                                                </li>
                                                <li class="nav-item"><a class="nav-link" [routerLink]="['/orders']"
                                                                routerLinkActive="router-link-active" id="orders"
                                                                title="{{'All Orders' | translate}}">{{'All Orders' |
                                                                translate}}</a>
                                                </li>
                                        </ul>
                                </li>
                                <li class="nav-item" *ngIf="position === 'cook' || position === 'delivery driver'">
                                        <a class="nav-link dropdown-toggle" title="{{'Employee' | translate}}"
                                                id="admin" (click)="setAdminSelection()">
                                                {{'Employee' |
                                                translate}}
                                        </a>
                                        <ul class="employeeDropdown" *ngIf="admin">
                                                <li class="nav-item"><a class="nav-link" [routerLink]="['/orders']"
                                                                routerLinkActive="router-link-active" id="orders"
                                                                title="{{'All Orders' | translate}}">{{'All Orders' |
                                                                translate}}</a>
                                                </li>
                                        </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['/about-us']"
                                                routerLinkActive="router-link-active" id="aboutUs"
                                                title="{{'About Us' | translate}}">{{'About Us' | translate}}</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['/menu']"
                                                routerLinkActive="router-link-active" id="menu"
                                                title="{{'Menu' | translate}}">{{'Menu' | translate}}</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['/cart']"
                                                routerLinkActive="router-link-active" title="{{'Cart' | translate}}"
                                                id="cart">{{'Cart' | translate}}</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['/profile']"
                                                routerLinkActive="router-link-active" title="{{'Profile'|translate}}"
                                                id="profile"><i class="fa fa-user" style="font-size:27px"></i></a>
                                </li>
                                <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/reservation']"
                                                routerLinkActive="router-link-active"
                                                title="{{'Make a reservation' | translate}}"
                                                id="reservation">{{'Reservation' | translate}}</a>
                                </li> -->

                                <li class="nav-item">
                                        <a class="nav-link dropdown-toggle" title="{{'Choose Language' | translate}}"
                                                id="language" (click)="setLangSelection()">
                                                <i class="fa fa-language" style="font-size:27px"></i>
                                        </a>
                                        <ul class="languages" *ngIf="langSelection">
                                                <li><a class="nav-link" value="en" title="{{'English'|translate}}"
                                                                id="en"
                                                                (click)="englishLang()">{{'English'|translate}}</a>
                                                </li>
                                                <li><a class="nav-link" value="bg" title="{{'Bulgarian'|translate}}"
                                                                id="bg"
                                                                (click)="bulgarianLang()">{{'Bulgarian'|translate}}</a>
                                                </li>
                                                <li><a class="nav-link" value="de" title="{{'Deutsch'|translate}}"
                                                                id="de"
                                                                (click)="deutschLang()">{{'Deutsch'|translate}}</a>
                                                </li>
                                        </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="['/login']"
                                                routerLinkActive="router-link-active" title="{{'Sign Out' | translate}}"
                                                id="profile" (click)="clearLocalStorage()"><i class="fa fa-sign-out"
                                                        style="font-size:27px"></i></a>
                                </li>
                        </ul>
                </div>
        </nav>
</body>

</html>