<html>
<header>

</header>

<body class="modalForPeople">
    <h2 mat-dialog-title class="text-center">Choose Table</h2>
    <mat-dialog-content class="mat-typography">
        <div>
            <div class="row">
                <div class="col item">
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="for2" />
                            <label for="for2">
                                <img src="../../../../assets/seats/For2.jpeg">
                            </label>
                        </li>
                    </ol>
                </div>
                <div class="col">
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="for3" />
                            <label for="for3">
                                <img src="../../../../assets/seats/For3.jpeg">
                            </label>
                        </li>
                    </ol>
                </div>
                <div class="col">
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="for4" />
                            <label for="for4">
                                <img src="../../../../assets/seats/For4.jpeg">
                            </label>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="for6" />
                            <label for="for6">
                                <img src="../../../../assets/seats/For6.jpeg">
                            </label>
                        </li>
                    </ol>
                </div>
                <div class="col">
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="for8" />
                            <label for="for8">
                                <img src="../../../../assets/seats/For8.jpeg">
                            </label>
                        </li>
                    </ol>
                </div>
                <div class="col">
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="for9" />
                            <label for="for9">
                                <img src="../../../../assets/seats/For9.jpeg">
                            </label>
                        </li>
                    </ol>
                </div>
                <div class="col">
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="for10" />
                            <label for="for10">
                                <img src="../../../../assets/seats/For10.jpeg">
                            </label>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- <ol class="cabin fuselage">
                <ol class="seats">
                    <li class="seat">
                        <input type="checkbox" id="for2" />
                        <label for="for2">
                            <img src="../../../../assets/seats/For2.jpeg">
                        </label>
                    </li>

                </ol>
                <ol class="seats">
                    <li class="seat">
                        <input type="checkbox" id="for3" />
                        <label for="for3">
                            <img src="../../../../assets/seats/For3.jpeg">
                        </label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="for4" />
                        <label for="for4">
                            <img src="../../../../assets/seats/For4.jpeg">
                        </label>
                    </li>
                </ol>
                <ol class="seats">
                    <li class="seat">
                        <input type="checkbox" id="for6" />
                        <label for="for6">
                            <img src="../../../../assets/seats/For6.jpeg">
                        </label>
                    </li>
                </ol>
            </ol> -->
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
    </mat-dialog-actions>

</body>
<footer>

</footer>

</html>