.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

#s5 {
  width: 100%;
  height: 400px;
  background-image: url("../../../assets/menu/pizzas/61.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  background-attachment: fixed;
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  font-weight: bolder;
  text-shadow: 5px 5px 10px black;
  font-size: larger;
}

.aboutUs {
  background: url("../../../assets/menu/pizzas/46.jpg");
  width: 100%;
  /* margin-bottom: 50px; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  background-attachment: fixed;
  color: white;
}

.pulsate {
  animation: pulsate 5s linear;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.5;
  }
}

.font-poppins {
  font-family: 'Concert One', sans-serif;
  color: #2196f3;
}

.font-poppins:hover {
  color: #0d47a1;
}

#mybtn {
  /*    display: none;*/
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  color: black;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

#mybtn:hover {
  color: #00abff;
}


.topMargin {
  margin-top: 100px;
}