#s5 {
    width: 100%;
    height: 400px;
    background-image: url("../../../assets/pic/61.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    text-shadow: 5px 5px 10px black;
    font-size: larger;
}

.shoppingCartPrice {
    font-family: 'Concert One', sans-serif;
    font-size: larger;
    margin-left: 10px;
}

.shoppingCartIcon {
    font-size: 20px;
}

.font-poppins {
    font-family: 'Concert One', sans-serif;
    color: #13974a;
}

.font-poppins:hover {
    color: #06642d;
}

.pulsate {
    animation: pulsate 2s linear;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.5;
    }
}

.card:hover {
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}

.card {
    transition: 0.4s ease;
    margin-bottom: 20px;
}

.col12 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    letter-spacing: .02rem;
    text-decoration: none;
    font-size: 20px;
}

.arrow {
    font-size: 25px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    color: #13974a;
}

.arrow:hover {
    color: #06642d;
}

.selected{
    font-family: 'Concert One', sans-serif;
    color: #06642d;
}