table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}

.table-responsive {
    max-height: 400px;
    overflow-y: auto;
}

th,
td {
    padding: 5px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.font-poppins {
    font-family: 'Concert One', sans-serif;
    color: #2196f3;
}

.font-poppins:hover {
    color: #0d47a1;
}



.topMargin {
    margin-top: 100px;
}